# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://xbkbflynozhjqxqdkmvk.supabase.co
SUPABASE_SERVICE_ROLE_KEY=sb_secret_npPTi0s5WvQ5gVDViFm3Fg_rIQMA56n

# Google AI (Gemini) Configuration
GOOGLE_GENERATIVE_AI_API_KEY=AIzaSyCaV69pKaSZETI5Hxym6SQMokDGHHgPnb8

# PDF.co API Key (for PDF text extraction)
PDFCO_API_KEY=khalil.idrissi@etu.mines-ales.fr_LP0dUfY8WuVRc1FuhyB8TqnWUVmH5WDOLQWaS7lQlgUyltMk7JYWoSnsPozW93HY 